@import '../../assets/styles/common.scss';

$green-background: #5dce56;
$green-border: #4ebd47;
$red: #fe0000;
$white: #fff;
$black: #000;

.progress-bars-container {
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  touch-action: manipulation;
  color: $black;

  .progress-bar {
    position: relative;
    height: 56px;
    margin: 8px auto;
    align-items: center;
    border: solid 1px $green-border;
    transition: all .3s;
    border-radius: 5px;
    overflow: hidden;

    &.selected {
      .percentage-value {
        transform: translate(-50%, -50%) scale(1.5)
      }
    }

    .progress-value {
      background-color: $green-background;
      height: 100%;
      transition: width .5s, background-color 1s;
    }

    .percentage-value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .5s;
    }

    &--exceeded {
      border-color: $red;

      .progress-value {
        background-color: $red;
      }

      .percentage-value {
        color: $white;
      }
    }
  }

  .control-panel {
    margin-top: 16px;
  
    .bar-switch {
      font-size: inherit;
      border: 2px solid $green-border;
      background-color: unset;
      font-weight: 700;
    }
  
    .button {
      font-size: inherit;
      margin: 0 0 16px 16px ;
      border: 2px solid $green-border;
      background-color: unset;
      font-weight: 700;
      background-color: $white;
      transition: transform .3s;
      padding: 4px 8px;

      &--warning {
        color: $red;
        border-color: $red;

        &:hover {
          transform: none !important;
        }
      }
    }
  }
}

/*--------------------------------------
  Responsive
--------------------------------------*/

/* ----- Extra small screens / phones ----- */
@media screen and (max-device-width: $screen-xs-max) {
  .progress-bars-container {
    width: 90%;
  }
}

/* ----- Small screens / tablets ----- */
@media screen and (min-device-width: $screen-sm-min) and (max-device-width: $screen-sm-max) { 
  .progress-bars-container {
    width: 90%;
  }
}

/* ----- Medium screens / desktops ----- */
@media screen and (min-device-width: $screen-md-min) { 
  .progress-bars-container {
    width: 600px;

    .progress-bar {
      &:hover {
        transform: scale(1.1);
      }
    }

    .control-panel {
      .button {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}