/*--------------------------------------
  Media queries breakpoints
--------------------------------------*/

/* ----- Extra large screens / Extra wide desktop ----- */
$screen-xl:                      1920px !default;
$screen-xl-min:                  $screen-xl !default;

/* ----- Large screens / Wide desktop ----- */
$screen-lg:                      1200px !default;
$screen-lg-min:                  $screen-lg !default;
$screen-lg-max:                  ($screen-xl-min - 1) !default;

/* ----- Medium screens / desktop ----- */
$screen-md:                      992px !default;
$screen-md-min:                  $screen-md !default;
$screen-md-max:                  ($screen-lg-min - 1) !default;

/* ----- Small screens / tablet ----- */
$screen-sm:                      768px !default;
$screen-sm-min:                  $screen-sm !default;
$screen-sm-max:                  ($screen-md-min - 1) !default;

/* ----- Extra small screens / phone ----- */
$screen-xs:                      480px !default;
$screen-xs-min:                  $screen-xs !default;
$screen-xs-max:                  ($screen-sm-min - 1) !default;
